/*  1.text color: main #212121, secondary #757575 
    2.link hover/focus color #2196F3
    3.accent color "link-button"  #2196F3 
    4.background color: main #ffffff, secondary #F5F4FA, footer #2F303A
    */
/*
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #000000;
    --accent-color:#2196F3
}
*/

/* Main page color styling*/
.page {
    background-color: #ffffff;
}

.list {
    list-style: none;

}
/* добавить стиль без подчекривания  для .link {} */


/* Navbar (header) color styling */

.site-logo-main .logo-part1 {
    color: #2196F3;
}

.site-logo-main .logo-part2 {
    color: #212121;
}

.site-nav .link {
    color: #212121;
}

.site-contacts .link {
    color:#757575 ;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color:#2196F3;
}

.site-contacts .link:hover,
.site-contacts .link:focus {
    color:#2196F3;
}

/*Section "Hero" color styling*/
.hero {
    background-color: rgba(126, 119, 119, 0.7);
}
.hero-title {
    color: #ffffff;
}
.hero-link-buton {
    color: #ffffff;
    background-color: #2196F3;
}

/*Section "Advantages" color styling*/
.advantages-image {
    background-color:#F5F4FA ;
}
.advantages-subtitle {
    color: #212121;
}
.advantages-text {
    color: #757575;
}

/*Headers H2 for sections "Projects" and "Team"*/
.section-title {
    color: #212121;
}

/*Section "Projects", "Footer-links-headers" color styling*/
.projects-list .link {
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
}
.join-text, .signup-text {
    color: #ffffff;
}


/*Section "Team" styling*/
.section-team {
    background-color: #F5F4FA;
}
    background-color: ;
}
.team-member-title {
    color:#212121;
}

.team-department {
    color: #757575;
}

.soscial-list .link {
    color:#AFB1B8;
}

.soscial-list .link:hover,
.soscial-list .link:focus {
    color: #2196F3;
}

/*Section "Clients" color styling*/
.company-list .link {
    color:#AFB1B8;
}
.company-list .link:hover,
.company-list .link:focus {
    color: #2196F3;
}

/*Footer color styling*/
.site-logo-secondary .logo-part1 {
    color: #2196F3;
}

.site-logo-secondary .logo-part2 {
    color: #ffffff;
}

.section-footer {
    background-color: #2F303A ;
}
.address-text {
    color: #ffffff;
}
.section-address .link {
    color: rgba(255, 255, 255, 0.6);
}
.email-input {
    color:rgba(255, 255, 255, 0.6);
}
.signup-button {
    color: #ffffff;
    background-color: #2196F3 ;
}