/*  1.text color: main #212121, secondary #757575 
    2.link hover/focus color #2196F3
    3.accent color "link-button"  #2196F3 
    4.background color: main #ffffff, secondary #F5F4FA, footer #2F303A
    */
/*
Set predefined colors
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #000000;
    --accent-color:#2196F3
}
*/

/*Page main font and color styling*/
.page {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.site-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
h1
h2
h3
h4
h5
h6{
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.link.button {
    color: #ffffff;
    background-color: #2196F3;
}

.nav-button.current {
    color: #ffffff;
    background-color: #2196F3;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color:#2196F3;
}

.site-contacts .link:hover,
.site-contacts .link:focus {
    color:#2196F3;
}
/*Navbar (header)styling */

.site-logo.main .logo-part1 {
    color: #2196F3;
}

.site-logo.main .logo-part2 {
    color: #212121;
}

.site-nav .link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
}

.site-nav .link.current {
    color: #2196F3;
}

.site-contacts .link {
    color:#757575 ;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em
}

/*Section "Hero" styling*/
.hero {
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
}
.hero-title {
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-title .link.button.hero {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    text-align: right;
    letter-spacing: 0.06em;
}

/*Section "Advantages" styling*/
.advantages-image {
    background-color:#F5F4FA ;
}

.advantages-subtitle {
    color: #212121;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-text {
    color: #757575;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

/*Section "Our Ptojects"*/
/*Headers styling for "Our Ptojects","Our team", "Our Clients" */
.section-title {
    color: #212121;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
}

.projects-list .link {
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase
}
.project-item {
    text-align: center;
}

/*Section "Team" styling*/
.section-team {
    background-color: #F5F4FA;
}

.team-item {
    text-align: center;

}

.team-member-title {
    color:#212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.266;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-department {
    color: #757575;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.social-list .link {
    color:#AFB1B8;
}

.social-list .link:hover,
.social-list .link:focus {
    color: #2196F3;
}

/*Section "Clients" styling*/
.company-list {
    text-align: center;
}

.company-list .link {
    color:#AFB1B8;
}
.company-list .link:hover,
.company-list .link:focus {
    color: #2196F3;
}

/*Footer styling*/
.section-footer {
    background-color: #2F303A ;
}

.site-logo.secondary .logo-part1 {
    color: #2196F3;
}

.site-logo.secondary .logo-part2 {
    color: #ffffff;
}

.address-text {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.join-text, .signup-text {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-address {
    text-align: left;
}

.section-address .link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}

.email-input {
    color:rgba(255, 255, 255, 0.6);
}

/*Portfolio page styling*/
/*buttons on Portfolio page*/
.nav-button {
    color: #212121;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
}
.portfolio-nav {
    text-align: center;
}

.portfolio-title {
    color: #212121;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-type {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}

.portfolio-text {
    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.section-portfolio {
    text-align: center;
}